<ion-app>
  <ion-menu side="start" menuId="main" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Pair BnB</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list lines="full">
        <ion-menu-toggle>
          <ion-item routerLink="/tabs/places/discover">
            <ion-icon slot="start" name="business-outline"></ion-icon>
            <ion-label>
              <h2>Discover Places</h2>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/tabs/bookings">
            <ion-icon slot="start" name="checkbox-outline"></ion-icon>
            <ion-label>
              <h2>Your Bookings</h2>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item (click)="onLogout()" button>
            <ion-icon slot="start" name="exit-outline"></ion-icon>
            <ion-label>
              <h2>Logout</h2>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
